In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/melbourne-housing-snapshot/melb_data.csv
/kaggle/input/melbourne-housing-market/Melbourne_housing_FULL.csv
/kaggle/input/melbourne-housing-market/MELBOURNE_HOUSE_PRICES_LESS.csv

In [2]:
melb_full_df = pd.read_csv("/kaggle/input/melbourne-housing-market/Melbourne_housing_FULL.csv")
melb_less_df = pd.read_csv("/kaggle/input/melbourne-housing-market/MELBOURNE_HOUSE_PRICES_LESS.csv")
melb_snap_df = pd.read_csv("/kaggle/input/melbourne-housing-snapshot/melb_data.csv")

In [3]:
melb_full_df.info()
print()
melb_less_df.info()
print()
melb_snap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63023 entries, 0 to 63022
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         63023 non-null  object
 1   Address        63023 non-null  object
 2   Rooms          63023 non-null  int64
 3   Type           63023 non-null  object
 4   Price          48433 non-null  float64
 5   Method         63023 non-null  object
 6   SellerG        63023 non-null  object
 7   Date           63023 non-null  object
 8   Postcode       63023 non-null  int64
 9   Regionname     63023 non-null  object
 10  Propertycount  63023 non-null  int64
 11  Distance       63023 non-null  float64
 12  CouncilArea    63023 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 6.3+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

Save missing columns

In [4]:
missing_cols = []
for i in melb_full_df.columns:
    if(i not in melb_less_df):
        missing_cols.append(i)
missing_cols

['Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude']

Matching Suburb, Address, and Price from Full and Less and merge data together

In [5]:
MatchDF = melb_full_df.merge(melb_less_df, how='left', on=list(melb_less_df.columns))
MatchDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34859 entries, 0 to 34858
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34859 non-null  object
 1   Address        34859 non-null  object
 2   Rooms          34859 non-null  int64
 3   Type           34859 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34859 non-null  object
 6   SellerG        34859 non-null  object
 7   Date           34859 non-null  object
 8   Distance       34858 non-null  float64
 9   Postcode       34858 non-null  float64
 10  Bedroom2       26642 non-null  float64
 11  Bathroom       26633 non-null  float64
 12  Car            26131 non-null  float64
 13  Landsize       23049 non-null  float64
 14  BuildingArea   13744 non-null  float64
 15  YearBuilt      15553 non-null  float64
 16  CouncilArea    34856 non-null  object
 17  Lattitude      26883 non-null  float64
 18  Longtitude     26883 non-null  float64
 19  Regionname     34856 non-null  object
 20  Propertycount  34856 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.9+ MB

In [6]:
MatchDF1 = MatchDF.drop(["Suburb", "Address", "Method", "SellerG", "Date", "CouncilArea", "Regionname"], axis=1)
melb_snap_df = melb_snap_df.drop(["Suburb", "Address", "Method", "SellerG", "Date", "CouncilArea", "Regionname"], axis=1)

In [7]:
MatchDF1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34859 entries, 0 to 34858
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rooms          34859 non-null  int64
 1   Type           34859 non-null  object
 2   Price          27247 non-null  float64
 3   Distance       34858 non-null  float64
 4   Postcode       34858 non-null  float64
 5   Bedroom2       26642 non-null  float64
 6   Bathroom       26633 non-null  float64
 7   Car            26131 non-null  float64
 8   Landsize       23049 non-null  float64
 9   BuildingArea   13744 non-null  float64
 10  YearBuilt      15553 non-null  float64
 11  Lattitude      26883 non-null  float64
 12  Longtitude     26883 non-null  float64
 13  Propertycount  34856 non-null  float64
dtypes: float64(12), int64(1), object(1)
memory usage: 4.0+ MB

In [8]:
MatchDF2 = MatchDF1.merge(melb_snap_df, how='left', on=list(MatchDF1.columns))

In [9]:
MatchDF2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34901 entries, 0 to 34900
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rooms          34901 non-null  int64
 1   Type           34901 non-null  object
 2   Price          27289 non-null  float64
 3   Distance       34900 non-null  float64
 4   Postcode       34900 non-null  float64
 5   Bedroom2       26684 non-null  float64
 6   Bathroom       26675 non-null  float64
 7   Car            26173 non-null  float64
 8   Landsize       23091 non-null  float64
 9   BuildingArea   13774 non-null  float64
 10  YearBuilt      15587 non-null  float64
 11  Lattitude      26925 non-null  float64
 12  Longtitude     26925 non-null  float64
 13  Propertycount  34898 non-null  float64
dtypes: float64(12), int64(1), object(1)
memory usage: 4.0+ MB

In [13]:
MatchDF2.to_csv("melbourne_housing_cleaned.csv")